   <!-- #section:basics/navbar.layout -->
<div id="navbar" class="navbar navbar-default">
    <script type="text/javascript">
        try { ace.settings.check('navbar', 'fixed') } catch (e) { }
    </script>

    <div class="navbar-container" id="navbar-container">
        <!-- #section:basics/sidebar.mobile.toggle -->
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
            <span class="sr-only">Toggle sidebar</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
        </button>

        <!-- /section:basics/sidebar.mobile.toggle -->
        <div class="navbar-header pull-left">
            <!-- #section:basics/navbar.layout.brand -->
            <a href='@Url.Content("~/")' class="navbar-brand">
                <small>
                    <i class="fa fa-paper-plane-o"></i>
                    @ViewBag.Portal.Title
                </small>
            </a>

            <!-- /section:basics/navbar.layout.brand -->
            <!-- #section:basics/navbar.toggle -->
            <!-- /section:basics/navbar.toggle -->
        </div>

        <!-- #section:basics/navbar.dropdown -->
        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.Partial("_Notifications")

                    @Html.Partial("_UserMenu")
                }
                else
                {  
                     @Html.Partial("_UserLogin")
                }
            </ul>
        </div>
        <!-- /section:basics/navbar.dropdown -->

    </div><!-- /.navbar-container -->
</div>